
.gradient-border-bottom {
  display: inline-block;
  position: relative;
}

.gradient-border-bottom::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px; /* underline thickness */
  width: 100%;
  background-image: linear-gradient(to right, #33622a, #94b834);
}
